/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #eeeeee;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  margin: 0 auto;
  min-height: 100%;
}

nav {
  background: #315481;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
}

nav h1 {
  font-size: 2em;
  margin: 0;
  display: inline-block;
}

#login-buttons {
  float: right;
  display: block;
}

#login-buttons #login-dropdown-list {
  top: 25px;
  left: -175px;
}

#login-buttons .login-close-text {
  float: right;
}

.new-task input {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px 0;
  background: transparent;
  border: none;
  /*width: 100%;*/
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
  border-bottom: 1px solid black;
}

#btn-submit {
  cursor: pointer;
}

.tasks-list {
  margin: 0;
  padding: 10px 15%;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1.5em;
  border: none;
  position: relative;
  cursor: pointer;
}

.tasks-list li {
  position: relative;
  list-style: none;
  padding: 15px;
  background: white;
  margin: auto;
  margin-bottom: 25px;

  -webkit-box-shadow: 3px 3px 2px 0px #aaaaaa;
  -moz-box-shadow: 3px 3px 2px 0px #aaaaaa;
  box-shadow: 3px 3px 2px 0px #aaaaaa;
}

.tasks-list li .text {
  margin-left: 10px;
}

.tasks-list li.checked {
  color: #888;
}

.tasks-list li.checked .text {
  text-decoration: line-through;
}

.tasks-list li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}